/** This is a CSS file, where styles live. */
body {
  font-family: "Flexo-Medium",arial,sans-serif;
}

.flex-center-col {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.pokemon-info-card {
  max-width: 300px;
}

.pokemon-info-card img {
  max-width:200px;
  max-height:200px;
}